<div class="row">
    <% @books.each do |book|%>
        <div class="col-3 book-item">
             <%= link_to(book) do %>
                <div class="card">
                    <img src=""class="card-img-top img-fluid">
                    <% if book.photo.attached? %>
                        <%= cl_image_tag book.photo.key %>
                    <% end %>
                    <div class="card-body">
                        <h5 class="cart-title"><%= book.title %></h5> 
                        <br>
                        <p class="card-text"> by <%= book.author.full_name%></p>
                        <p><%= book.value %><p>
                    </div>
                </div>
            </div>
        <%end%>
    <% end %>
</div>

<%= link_to "Add a new book", new_book_path%>
<%= link_to "Add a new Author", new_author_path%>