<div class="row">
    <% @books.each do |book|%>
        <div class="col-3 book-item">
            <div class="card">
                        <%= link_to(book) do %>
                <% if book.photo.attached? %>
                    <%= cl_image_tag book.photo.key %>
                <% end %>
                    <%end%>
                <div class="card-body">
                
                    <h5 class="cart-title">
                        <%= book.title %>
                    </h5> 

                    <br>

                    <p class="card-text"> 
                        by <i><%= book.author.full_name%></i>
                    </p>

                    <p>
                        <%= book.value %>
                        <%=simple_form_for (@cart_item) do |f| %>
                            <%= f.hidden_field :book_id, :value => book.id%>
                            <%= f.number_field :quantity, :value => 1, :min => 1%>
                            <%= f.submit "Add to cart", class:"btn btn-success" %>
                        <%end%>
                    <p>
                </div>
            </div>
        </div>
    <% end %>
</div>